/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("./../fonts/helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("./../fonts/helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("./../fonts/helvetica/HelveticaBold/HelveticaBold.eot");
    src: url("./../fonts/helvetica/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("./../fonts/helvetica/HelveticaItalic/HelveticaItalic.eot");
    src: url("./../fonts/helvetica/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("./../fonts/helvetica/HelveticaLight/HelveticaLight.eot");
    src: url("./../fonts/helvetica/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("./../fonts/helvetica/HelveticaBlack/HelveticaBlack.eot");
    src: url("./../fonts/helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    src: url("./../fonts/helvetica/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("./../fonts/helvetica/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("./../fonts/helvetica/HelveticaMedium/HelveticaMedium.eot");
    src: url("./../fonts/helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("./../fonts/helvetica/HelveticaThin/HelveticaThin.eot");
    src: url("./../fonts/helvetica/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
    font-family: "HelveticaUltraLight";
    src: url("./../fonts/helvetica/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("./../fonts/helvetica/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("./../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("./../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("./../fonts/helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("./../fonts/helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
    font-family: "HelveticaLightItalic";
    src: url("./../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("./../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("./../fonts/helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("./../fonts/helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
    font-family: "HelveticaThinItalic";
    src: url("./../fonts/helvetica/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("./../fonts/helvetica/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("./../fonts/helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("./../fonts/helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("./../fonts/helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("./../fonts/helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}