            <div class="col-md-8">
             <div class = "res-search">
                <div class="input-group res-search-input">
                    <span class="input-group-addon" id="res-search"><i class="fa fa-search"></i></span>
                    <input spellcheck="false"  autocorrect="off" type="text" class="form-control " placeholder="Поиск по сайту"
                           aria-describedby="res-search">
                </div>
                <ul class="res-search-response">
                    <li class="res-search-response-company">

                    </li>
                    <li class="res-search-response-tender">

                    </li>
                    <li class="res-search-response-deal">

                    </li>
                </ul>
            </div>
            </div>
            <div id = "res-search-filter" class="col-md-4">
            </div>
