//tenderCard
.tenderCard-scope{
    .tenders{
        border-radius: 6px;
        overflow: hidden;
    }
    border-radius: 6px;
    .header{
        overflow: hidden;
        width: 100%;
        padding: 65px;
        padding-bottom: 0px;
        position: relative;
        .background{
            background-size: contain;
            background-position: 50%;
            width: 100%;
            height: 379px;
            left: 0;
            top: 0;
            position: absolute;
            z-index: -2;
        }
        .gradient{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to right, #FFF 0%,rgba(0, 0, 0, 0) 100%);
            opacity: .9;
            z-index: -1;

        }
        a{color:$black;}
        .title{
            @extend .h1;
        }
        .description{
            font-family: HelveticaBlack;
            line-height: 1.2;
            font-size: 50px;
            // height: 117px;
            width: 700px;
            color:$black;
            margin-bottom: 25px;
        }
        .categories{
            padding-left: 0;
            height: 50px;
            list-style: none;
            display: inline-block;
            border-bottom:1px solid $grey ;
            li{
                font-family: 'HelveticaRegular';
                font-weight: 700;
                padding-left: 0;
                padding-right: 50px;
                font-size: 16px;
                color: $grey-dark;
                height: 30px;
                display: inline-block;
                padding-top: 6px;
                vertical-align: top;
                line-height: 26px;
                // @extend .verticalAlign;
                &.icon:before{
                    font-size: 24px;
                    padding-right: 20px;
                    vertical-align: middle;
                    font-size: 25px;
                    line-height: 24px;
                }
            }
        }
        .date{
            color:$yellow-dark;
            font-size: 16px;
            &.icon:before{
                top: 5px;
                position: relative;
                font-size: 24px;
            }
        }
    }
    .overview{
        .title{
            font-family: HelveticaBold;
            font-size: 16px;
        }
        .left{
            .list{
                position: relative;
                .listItem {
                min-height: 30px;
                padding-top: 7px;
                     .key{
                        color: $grey-dark;
                        width: 190px;
                        margin-right: 30px;
                        &.owner{
                            color:$blue;
                        }
                        display: inline-block;
                     }
                     .value{
                        color:$yellow-dark;
                        display: inline-block;
                     }
                }
               
                &:before{
                    width: 30px;
                    height: 1px;
                    color:$black;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    content: ' ';
                    display: block;
                    background-color: $black;
                }
            }
            .images{
                .image{
                    padding-left: 15px;
                    background-size: cover;
                    background-position: 50%;
                    border-radius: 4px;
                    width: 90px;
                    height: 90px;
                    margin-right: 6px;
                    display: inline-block;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }

        }
        .right{
            .title{
                font-size: 16px;
            }
            .description{
                position: relative;
                color: $grey-dark;
                &:before{
                    width: 30px;
                    height: 1px;
                    color:$black;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    content: ' ';
                    display: block;
                    background-color: $black;
                }
            }
        }
    }
}