<div class="container auth-scope">
<div class="row">
    <div class="form col-sm-4 center-block">
    <div class="col-sm-12">
        <p class="text-center signin_title">Вход в платформу</p>
        <p class="text-center res-text-dark-grey signin_help">Введите адрес электронной почты, указанный при регистрации, и пароль.</p>
        <input type="text" value="" placeholder="Логин (почта)" class="login form-control center-block" id="inputSuccess1">
        <input type="password" placeholder="Пароль" value="" class="password form-control center-block" id="inputSuccess2">
        <div class="notification text-center res-text-pink"></div><!-- /.notification -->
    </div><!-- /.col-sm-12 --> 
       
        <button type="button" class="signin btn res-button-yellow res-button-middle">
            Войти
        </button>
    </div>
    <!-- /.form -->
</div><!-- /.row -->
<div class="row">
    <p class="auth-info text-center res-text-white col-sm-4 center-block">
        Если вы забыли пароль,
        <a href="#forgot" class="forgot_pass underline-gold">
        	воспользуйтесь формой восстановления пароля</a>, или
        <a href="#registration" class="registration underline-gold">пройдите регистрацию</a>, если вы не зарегистрированы.
    </p>
</div>
    </div>
<!-- /.form container -->