<div class="block_settingsSecurity">
    <form class="res-card-container p0 mg-b30 p-b40" action="" method="post">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12 header_settingssecurity_info">
                    <div class="row">Изменение пароля</div>
                </div>
                <div class="col-md-12 res_settingssecurity_input">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label" for="inputSuccess1">Текущий пароль</label>
                                <input type="text" maxlength="80" class="form-control" id="inputSuccess1">

                                <div class="res_error">Введите актуальный пароль вашего аккаунта</div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label" for="inputSuccess3">Новый пароль</label>
                                <input type="text" maxlength="80" class="form-control" id="inputSuccess3">

                                <div class="res_error">Введите новый пароль</div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label" for="inputSuccess1">Подтверждение нового пароля</label>
                                <input type="text" maxlength="80" class="form-control" id="inputSuccess2">

                                <div class="res_error">Повторите новый пароль</div>
                            </div>
                            <div class="col-md-12 res_settingssecurity_btn">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" type_btn="res_password"
                                                class="btn res_password res-button-yellow res-button-big res-button-full">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>