<div class="block_settingsSecurity">
    <div class="res-card-container p0 mg-b30 p-b40">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12 header_settingssecurity_info">
                    <div class="row">Изменения номера мобильного телефона</div>
                </div>
                <div class="col-md-12 res_settingssecurity_input">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label" for="inputSuccess1">Телефон</label>
                                <input type="text" maxlength="80" class="form-control" id="inputSuccess1">

                                <div class="res_error">Введите новый номер мобильного телефона</div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label" for="inputSuccess1">Телефон</label>
                                <input type="text" maxlength="80" class="form-control" id="inputSuccess1">

                                <div class="res_error">Введите новый номер мобильного телефона</div>
                            </div>
                            <div class="col-md-12 res_settingssecurity_btn">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" type_btn="res_number_mobile"
                                                class="btn res_number_mobile res-button-yellow res-button-big res-button-full">
                                            Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>