<div class="separator_mini"></div>
<div class="content_info">
    <div class="res_header_content_info">Общая информация</div>
    <div class="res_item_content_info">
        <div class="row">
            <div class="col-md-4 left_item">Номер телефона</div>
            <div class="col-md-8 right_item">+7 926 897-63-08</div>
        </div>
    </div>
    <div class="res_item_content_info">
        <div class="row">
            <div class="col-md-4 left_item">Фактический адрес</div>
            <div class="col-md-8 right_item">107076, г. Москва, ул. Колодезный переулок, д. 14, оф.
                636.
            </div>
        </div>
    </div>
    <div class="res_item_content_info">
        <div class="row">
            <div class="col-md-4 left_item">Адрес электронной почты</div>
            <div class="col-md-8 right_item"><a>spetsdelivery@info.ru</a></div>
        </div>
    </div>
    <div class="res_item_content_info">
        <div class="row">
            <div class="col-md-4 left_item">Адрес сайта</div>
            <div class="col-md-8 right_item"><a>www.spetsdeliver.ru</a></div>
        </div>
    </div>
</div>