<div class="block_companyinfo">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="res_companyinfo_header">Регистрация</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 separator_gray_light_mini"></div>
                </div>
                <div class="col-md-12">
                    <ul class="res-switch-yellow">
                        <li class="res_open"><a href="#registration/lawinfo"><span>Юридические данные</span></a></li>
                        <li class="res-switch-yellow-active"><a href="#registration/companyinfo"><span>Информация о компании</span></a>
                        </li>
                        <li><a><span>Информация о представителе</span></a></li>
                        <li><a><span>Тариф</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="res-card-container p0 mg-b30 p-b40">
                <div class="p-lr60">
                    <div class="row">
                        <div class="col-md-12 header_companyinfo_info">Расскажите о свoей компании</div>
                        <div class="col-md-12 res_companyinfo_input">
                            <div class="row">
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Название компании</label>
                                    <input type="text" maxlength="80" class="form-control" name="name">

                                    <div class="description"><span>Пожалуйста, укажите название вашей компании.</span><span></span></div>
                                </div>
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Краткое описание</label>
                                    <textarea class="form-control" name="description"></textarea>

                                    <div class="description"><span>Краткое описание компании будет использоваться в каталоге и
                                        его смогут увидеть другие участники RES</span><span></span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Номер телефона</label>
                                    <input type="text" data-mask="phone" maxlength="16" name="phone_mask" class="form-control">
                                    <input type="hidden" maxlength="16" name="phone" class="form-control">
                                    <div class="description"><span>Пожалуйста, укажите номер телефона вашей компании,
                                        по которому с ней можно связаться</span><span></span>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Фактический адрес</label>
                                    <input type="text" class="form-control" name="actual_address">

                                    <div class="description"><span>Пожалуйста, укажите фактичекий адрес вашей компании</span><span></span></div>
                                </div>
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Категории бизнеса</label>
                                    <input type="text" maxlength="80" class="form-control" name="tags_sell">
                                    <div class="select">
                                        <div class="div_input_style">
                                            <p>1</p>
                                            <p>2</p>
                                            <p>3</p>
                                            <span></span>
                                        </div>
                                        <div class="menu_selects">
                                            <div class="item_select">
                                                <div class="logo">1</div>
                                                <div class="name">2</div>
                                                <div class="icon_status">3</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="description"><span>Выберите от одной до трёх категорий вашего бизнеса</span><span></span></div>
                                </div>
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">Предложение</label>
                                    <input type="text" maxlength="80" name="offer" class="form-control">
                                    <div class="description"><span>Пожалуйста, укажите, что может предложить ваша компания
                                        другим участникам RES. Информация будет использоваться на карточке вашей
                                        компании и при поиске по каталогу</span><span></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="res_block_text">
                                        <span class="res_main_text_info">Логотип компании</span>

                                        <div class="res_input_file">
                                             <span class="btn field_input_field_file_img">
                                                <img src="/media/media/add_img.png">
                                                <input type="file" class="input_field_file"/>
                                            </span>

                                            <div class="res_block_img">
                                                <span class="btn field_input_field_file res-download">
                                                    Выберите файл
                                                    <input type="file" name="logo_company" class="input_field_file"/>
                                                </span>
                                                <span class="info">png, jpeg, jpg не более 10 мегабайт</span>
                                            </div>
                                        </div>
                                        <div class="res_help">Загрузите логотип компании</div>
                                    </div>
                                </div>
                                <div class="col-md-12 res_companyinfo_btn">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button"
                                                    class="btn btn_company_info res-button-yellow res-button-big res-button-full">
                                                Далее
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>