<div class="block_settingsSecurity">
    <div class="res-card-container p0 mg-b30 p-b40">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-12 header_settingssecurity_info">
                    <div class="row">Подтверждение изменения номера телефона</div>
                </div>
                <div class="col-md-12 res_settingssecurity_input">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12 form-group-sms res-fields">
                                <div class="row">
                                    <label class="col-md-12 control-label" for="inputSuccess8">Введите код</label>

                                    <div class="col-md-3">
                                        <input type="text" maxlength="80" class="form-control" id="inputSuccess8">
                                    </div>
                                    <div class="col-md-9 block_info_sms">Для подтверждения изменений подтвердите права
                                        доступа, введя код из СМС,<br>
                                        которую мы отправим на номер владельца аккаунта.<br>
                                        Ваш номер телефона: <%= settings.number %>.
                                        <a href="#registration/representative">Изменить номер телефона</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 res_settingssecurity_btn">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button"
                                                class="btn res-button-yellow res-button-big res-button-full">
                                            Подтвердить
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="btn_no">
                                            <span>Отправить код ещё раз</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>