<div class="container">
    <div class="col-md-12">
        <div class="res-card-container mg-b30 p0">
            <div class="p-lr60 p-tb60">
                <div class="block_sentence_deal">
                    <div class="row">
                        <div class="col-md-12 res_sentence_header">Вам предложили сделку</div>
                        <div class="col-md-12">
                            <div class="col-md-12 separator_gray_light_mini black"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 res_sentence_mini_header">
                                    Покупка трубопровода
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="separator_mini"></div>
                        </div>
                        <div class="col-md-12 res_sentence_block_company">
                            <div class="row">
                                <div class="col-md-3 res_sentence_name">
                                    Компания
                                </div>
                                <div class="col-md-9 res_sentence_title">
                                    ООО «СпецДэливер»
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="separator_mini"></div>
                        </div>
                        <div class="col-md-12 res_sentence_info">
                            <div class="row">
                                <div class="item_info">
                                    <div class="col-md-3 res_sentence_name">
                                        Описание сделки
                                    </div>
                                    <div class="col-md-9 res_sentence_title">
                                        Новый двигатель 4N15 представляет собой 4-цилиндровый силовой агрегат с объемом
                                        2,4
                                        литра.
                                        Он имеет полностью алюминиевую конструкцию, два верхних распределительных вала
                                        (DOHC), 16 клапанов, аккумуляторную топливную систему высокого давления Co Rail,
                                        уменьшенную токсичность отработавших газов
                                        и самую низкую степень сжатия в своем классе. Столь низкая степень сжатия
                                        позволяет
                                        использовать алюминиевый блок цилиндров и другие легкие материалы, что
                                        гарантирует
                                        снижение массы, уровня шума
                                        и вибраций и повышение общего КПД.
                                        <div class="space_text"></div>
                                        В пару к высокоэффективному дизельному двигателю MIVEC компания MMC разработала
                                        две
                                        новые усиленные коробки передач, которые будут представлены на пятом поколении
                                        модели L200.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="item_info">
                                    <div class="col-md-3 res_sentence_name">
                                        Сумма сделки
                                    </div>
                                    <div class="col-md-9 res_sentence_title">
                                        120 000 550,00 RES
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="item_info">
                                    <div class="col-md-3 res_sentence_name">
                                        Предполагаемый срок окончания сделки
                                    </div>
                                    <div class="col-md-9 res_sentence_title">
                                        09.10.2015
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="item_info">
                                    <div class="col-md-3 res_sentence_name">
                                        Гарант
                                    </div>
                                    <div class="col-md-9 res_sentence_title">
                                        включен
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="separator_mini"></div>
                        </div>
                        <div class="col-md-12  res_sentence_condition">
                            <div class="row ul">
                                <div class="col-md-12 res_sentence_text_info">
                                    ООО «Спец-Дэливер» предлагает проводить сделку по предоплате
                                </div>
                                <div class="col-md-12 li_item active">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="li res-text-dark-grey"><span class="res-text-dark-grey">Будет создан счет на 100% суммы требующий оплаты.</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="res_message_block">
                            <div class="col-md-12">
                                <div class="separator_mini"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12 res_sentence_mini_header gray">
                                        Отклонение сделки
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 res_sentence_field_input">
                                <div class="form-group res-fields">
                                    <label class="control-label" for="inputSuccess1">Добавить комментарий</label>
                                    <input type="text" class="form-control" id="inputSuccess1">
                                </div>
                            </div>
                            <div class="col-md-12 res_sentence_button">
                                <div class="col-md-3">
                                    <div class="row">
                                        <button type="button"
                                                class="btn res-button-yellow res-button-big res-button-full">
                                            Принять сделку
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="btn_no">
                                        <span class="res-text-pink">Отклонить сделку</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>