<div class="container">
    <div class="col-md-7">
        <div class="res-card-container mg-b30 p0">
            <div class="p60 row">
                <div class="col-md-12 header_block res-text-dark-header">ID сделки 123.654.789</div>
                <div class="col-md-12 header_text">Сделка по покупке трубопровода</div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 field_tr_res_card">
                            <div class="row">
                                <div class="col-md-7 res-text-black-text mini_text_header">Статус сделки</div>
                                <div class="col-md-5 res-text-yellow-dark mini_two_text_header">подписание договора
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 field_tr_res_card">
                            <div class="row">
                                <div class="col-md-7 res-text-black-text mini_text_header">Сумма сделки</div>
                                <div class="col-md-5 res-text-yellow-dark mini_two_text_header">25 000 500,00 RES</div>
                            </div>
                        </div>
                        <div class="col-md-12 field_tr_res_card">
                            <div class="row">
                                <div class="col-md-7 res-text-black-text mini_text_header">Форма оплаты</div>
                                <div class="col-md-5 res-text-yellow-dark mini_two_text_header">постоплата</div>
                            </div>
                        </div>
                        <div class="col-md-12 field_tr_res_card">
                            <div class="row">
                                <div class="col-md-7 res-text-black-text mini_text_header">Дата создания</div>
                                <div class="col-md-5 res-text-yellow-dark mini_two_text_header">09.08.2015 12:00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text_field">
                    <div class="row">
                        <div class="col-md-12 res-text-black-text mini_text_header">Описание сделки</div>
                        <div class="col-md-12 res-text-dark-grey full_text">
                            Освобождение, по определению, реально рефлектирует язык образов,
                            не учитывая мнения авторитетов. Предмет деятельности рефлектирует здравый смысл. Наряду с
                            этим заблуждение осмысленно выводит гений, учитывая опасность, которую представляли
                            собой писания Дюринга для не окрепшего еще немецкого рабочего движения.
                            <div class="space_text"></div>
                            Искусство категорически заполняет неоднозначный даосизм.
                            Дуализм, конечно, подчеркивает катарсис, хотя в официозе принято обратное. Гегельянство
                            оспособляет неоднозначный здравый смысл.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="separator_gray_light"></div>
                        </div>
                        <div class="col-md-12 res_item_doc">
                            <div class="row">
                                <div class="col-md-8"><a>Счёт № 123.654.789-1 выставлен</a></div>
                                <div class="col-md-4 res-text-dark-grey">11.08.2015 13:30</div>
                            </div>
                        </div>
                        <div class="col-md-12 res_item_doc">
                            <div class="row">
                                <div class="col-md-8"><a>Счёт № 123.654.789-1 оплачен</a></div>
                                <div class="col-md-4 res-text-dark-grey">09.08.2015 13:00</div>
                                <div class="col-md-12 res-text-dark-grey">ID транзакции 123.654.789</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="res-card-container mg-b30 p0">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="field_header_blue top">
                        <div class="field_img"><img src="http://localhost:8000/media/media/14405279485610.jpg" alt=""/>
                        </div>
                        <div class="field_text_header">
                            <div class="col-md-12 name_company res-text-black-text">ООО «Рога и копыта»</div>
                            <div class="col-md-12 status_user res-text-dark-grey">Покупатель</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 field_tr_res_items">
                    <div class="col-md-12 field_tr_res">
                        <div class="row">
                            <div class="col-md-5 left_field res-text-black-text">Баланс в системе</div>
                            <div class="col-md-7 right_field res-text-dark-grey">5 000 000,00 RES</div>
                        </div>
                    </div>
                    <div class="col-md-12 field_tr_res">
                        <div class="row">
                            <div class="col-md-5 left_field res-text-black-text">Доступный лимит</div>
                            <div class="col-md-7 right_field res-text-dark-grey">250 000 000,00 RES</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="res-card-container mg-b30 p0">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="field_header_blue top">
                        <div class="field_img"><img src="http://localhost:8000/media/media/14397275084650.jpg" alt=""/>
                        </div>
                        <div class="field_text_header">
                            <div class="col-md-12 name_company res-text-black-text">ООО «Спец-Дэливер»</div>
                            <div class="col-md-12 status_user res-text-dark-grey">Продавец</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 field_tr_res_items">
                    <div class="col-md-12 field_tr_res">
                        <div class="row">
                            <div class="col-md-5 left_field res-text-black-text">Контактный телефон</div>
                            <div class="col-md-7 right_field res-text-dark-grey">+7 926 123-45-67</div>
                        </div>
                    </div>
                    <div class="col-md-12 field_tr_res">
                        <div class="row">
                            <div class="col-md-5 left_field res-text-black-text">Электронная почта</div>
                            <div class="col-md-7 right_field res-text-dark-grey"><a>rog-i-cop@info.ru</a></div>
                        </div>
                    </div>
                    <div class="col-md-12 field_tr_res">
                        <div class="row">
                            <div class="col-md-5 left_field res-text-black-text">Веб сайт</div>
                            <div class="col-md-7 right_field res-text-dark-grey"><a>www.rog-i-cop.ru</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="res-card-container mg-b30 p0">
            <div class="p60 row">
                <div class="col-md-12 header_text">Управление сделкой</div>
                <div class="col-md-12">
                    <div class="separator_mini"></div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="res-text-black-text mini_text_header">Ход сделки <a class="res-link-dash">Свернуть</a>
                            </div>
                        </div>
                        <div class="col-md-12 res-text-dark-grey ul">
                            <div class="col-md-12 li_item end">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Предложение сделки в системе RES покупателем</div>
                                    </div>
                                    <div class="col-md-2 info_res">09.08.2015 12:00</div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item active">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Подтверждение условий сделки в системе RES продавцом</div>
                                    </div>
                                    <div class="col-md-2 info_res">09.08.2015 12:30</div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item new">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Подписание договора по сделке на товары/услуги между двумя
                                            юрлицами между контрагентами
                                        </div>
                                    </div>
                                    <div class="col-md-2 info_res">в процессе</div>
                                    <div class="col-md-12 item_res_a"><a>Скачать образец договора</a></div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Подписание договора по сделке по услуге по передаче RES между
                                            контрагентами
                                        </div>
                                    </div>
                                    <div class="col-md-12 item_res_a"><a>Скачать образец договора</a></div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Оказание услуги-доставка товара</div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Перевод 100% RES</div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Закрытие двух актов по договорам сделки актом взаимозачета</div>
                                    </div>
                                    <div class="col-md-12 item_res_a"><a>Скачать образец договора</a></div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="col-md-12 li_item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="li">Сделка завершена</div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="p-lr60 field_header_blue">
                    <div class="col-md-12">
                        <div class="col-md-4 item_option_deal active">
                            <div class="item_option_deal_header">Договор подписан</div>
                            <div class="res-text-dark-grey item_option_deal_text">
                                <div class="col-md-12">Если сделка проходит успешно и вы хотите отправить RES-единицы по
                                    выставленному
                                    счёту.
                                </div>
                            </div>
                            <div class="el_line_bottom"></div>
                        </div>
                        <div class="col-md-4 item_option_deal">
                            <div class="item_option_deal_header">Отклонить сделку</div>
                            <div class="res-text-dark-grey item_option_deal_text">
                                <div class="col-md-12">Если вы хотите разделить оплату на несколько частей.</div>
                            </div>
                            <div class="el_line_bottom"></div>
                        </div>
                        <div class="col-md-4 item_option_deal">
                            <a href="/#complaint/deal/1" class="item_option_deal_header">Пожаловаться на сделку</a>
                            <div class="res-text-dark-grey item_option_deal_text">
                                <div class="col-md-12">Если вы считаете, что в ходе сделки возникли проблемы и вам нужна
                                    помощь сотрудников
                                    системы RES.
                                </div>
                            </div>
                            <div class="el_line_bottom"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 res-text-dark-grey res_thanks">Спасибо! Для продолжения сделки необходимо,
                            чтобы ваш контр-агент так же
                            подтвердил подписание
                            договора.
                        </div>
                        <div class="col-md-12 res_step_confirm">
                            <div class="col-md-12 res_field_text">Вы уверены, что подписали договор с контрагентом?</div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" class="btn res-button-yellow res-button-full">Да</button>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="btn_no"><span class="res-text-pink">Нет</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-lr60">
                <div class="row">
                    <div class="col-md-12 res_doc_href">
                        <a href="">Как работает взаимозачёт и сделки внутри системы RES?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="res-card-container mg-b30 field_comment">
            <div class="p-lr60">
                <div class="header_text">Обсуждение сделки</div>
                <div class="separator_gray_light"></div>
                <div class="field_info res-text-dark-grey">15 комментариев (<a class="new">5 новых</a>)
                    <a class="more_view_comment">Показать комментарии</a>
                </div>
            </div>
        </div>
    </div>
</div>