<div class="container forgotPassSuccess-scope">
<div class="row">
    <div class="form col-sm-4 center-block">
        <div class="wrapper">
            <p class="text-center title">Пароль отправлен</p>
            <p class="text-center res-text-dark-grey help">на электронную почту<br>
                <a id='mail' target='_blank' href="#"><%=email%></a><br><br></p>

            <p class="help text-center">Сменить пароль вы можете<br>в настройках аккаунта.</p>
            <div class="success-image"></div>
        </div><!-- /.col-sm-12 --> 
    </div>
    <!-- /.form -->
</div><!-- /.row -->
</div>
<!-- /.form container -->