<div class="container forgotPass-scope">
<div class="row">
    <div class="form col-sm-4 center-block">
        <div class="col-sm-12 wrapper">
            <p class="text-center title">Восстановление пароля</p>
            <p class="text-center res-text-dark-grey help">введите адрес электронной почты, указанный при регистрации</p>
            <input type="email" required value="" placeholder="логин (почта)" class="email form-control center-block" id="email">
            <div class="notification text-center res-text-pink"><%=email%></div><!-- /.notification -->
        </div><!-- /.col-sm-12 --> 
        <button type="submit" class="sendPass btn res-button-yellow res-button-middle">
            Отправить пароль
        </button>
    </div>
    <!-- /.form -->
</div><!-- /.row -->
<!-- /.form container -->
</div>