<div class="block_settingsSecurity">
    <div class="row">
        <div class="col-md-12">
            <div class="res_settingssecurity_header">Настройка безопасности</div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 separator_gray_light_mini"></div>
        </div>
    </div>
</div>