<div class="block_law_info">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="res_law_info_header">Регистрация</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 separator_gray_light_mini"></div>
                </div>
                <div class="col-md-12">
                    <ul class="res-switch-yellow">
                        <li class="res-switch-yellow-active"><a><span>Юридические данные</span></a></li>
                        <li><a><span>Информация о компании</span></a></li>
                        <li><a><span>Информация о представителе</span></a></li>
                        <li><a><span>Тариф</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="res-card-container p0 mg-b30 p-b40">
                <div class="p-lr60">
                    <div class="row">
                        <div class="col-md-12 header_res_law_info">Юридические данные</div>
                        <div class="col-md-12 res_law_info_input">
                            <div class="row">
                                <div class="col-md-12 form-group res-fields">
                                    <label class="control-label">ОГРН/ОГРНИП</label>
                                    <input type="text" name="ogrn" maxlength="15" class="form-control">
                                    <div class="description"><span>Пожалуйста, подтвердите, что вы ввели корректный ОГРН/ОГРНИП</span><span></span></div>
                                </div>
                                <div class="field_info_res"></div>
                                <div class="col-md-12 res_law_info_btn">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn_confirm res-button-yellow res-button-big res-button-full">
                                                Далее
                                            </button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="btn_no">
                                                <span class="res-text-pink btn_update">Ввести другой ОГРН/ОГРНИП</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>