<div class="container manageRoles-scope">
    <div class="col-md-10 center-block wrapper">
        <div class="row">
            <div class="h2-font col-md-12">Управление ролями</div>
            <div class="standard-text-font col-md-12">Система RES предлагает стандартное разделение возможностей между
                ролями,
                однако вы можете настроить всё детально для своей компании, <a href="">перейдя по ссылке ниже</a>.
            </div>

            <div class="roles col-md-12">
                <div class="role-item row">
                    <div class="role col-md-4">Бухгалтер</div>
                    <div class="desc col-md-8">Бухгалтирование бухгалтерии, бухгалтеризация бухгалтерного
                        бухгалтерства
                    </div>
                </div>
                <div class="role-item row">
                    <div class="role col-md-4">Бухгалтер</div>
                    <div class="desc col-md-8">Бухгалтирование бухгалтерии, бухгалтеризация бухгалтерного
                        бухгалтерства
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <a href="/" class="btn">Настроить</a>
            </div>
        </div>
    </div>
</div>