<div class="container">
    <div class="col-md-12">
        <div class="res-card-container mg-b30 p0">
            <div class="p-lr60">
                <div class="block_my_deal">
                    <div class="row">
                        <div class="col-md-12 block_header_deal">
                            <div class="row">
                                <div class="col-md-5 header_deal">Мои сделки</div>
                                <div class="col-md-7 headers_deal_item">
                                    <div class="col-md-2 header_deal_item col-md-offset-1"><span>Неделя</span></div>
                                    <div class="col-md-2 header_deal_item active"><span>Месяц</span></div>
                                    <div class="col-md-2 header_deal_item"><span>3 месяца</span></div>
                                    <div class="col-md-2 header_deal_item"><span>Год</span></div>
                                    <div class="col-md-3 header_deal_item"><span>Выбрать дату</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 menu_deals">
                            <div class="row">
                                <div class="col-md-3 menu_item">Сделка</div>
                                <div class="col-md-3 menu_item">Контрагент</div>
                                <div class="col-md-2 menu_item center_text">Цена</div>
                                <div class="col-md-3 menu_item center_text">Статус</div>
                                <div class="col-md-1 menu_item right_text">Дата</div>
                                <div class="col-md-12 menu_deals_line"></div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text">Ожидает оплаты</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>
                                <div class="col-md-12 item_deals">
                                    <div class="col-md-12 separator_gray_light_mini"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text">Завершена</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>
                                <div class="col-md-12 item_deals">
                                    <div class="col-md-12 separator_gray_light_mini"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text active">Ожидает заверешения</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>
                                <div class="col-md-12 item_deals">
                                    <div class="col-md-12 separator_gray_light_mini"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text">Ожидает оплаты</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>
                                <div class="col-md-12 item_deals">
                                    <div class="col-md-12 separator_gray_light_mini"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text">Завершена</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>
                                <div class="col-md-12 item_deals">
                                    <div class="col-md-12 separator_gray_light_mini"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 items_deals">
                            <div class="row">
                                <div class="col-md-3 item_deals">
                                    <div class="row">
                                        <div class="col-md-12"><a href="">Доставка воды для бедных детей дикаобразов</a>
                                        </div>
                                        <div class="col-md-12">ID 23232344</div>
                                    </div>
                                </div>
                                <div class="col-md-3 item_deals">OOO “Зебры с симптомами депрессии”</div>
                                <div class="col-md-2 item_deals center_text">23,000,000 RES</div>
                                <div class="col-md-3 item_deals center_text active">Ожидает заверешения</div>
                                <div class="col-md-1 item_deals right_text">
                                    <div class="row">
                                        <div class="col-md-12">12.07.15</div>
                                        <div class="col-md-12 time">12:33</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="bs-component">
            <ul class="res-pagination">
                <li class="previous">
                    <a href="#">Предыдущая</a>
                </li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li class="next">
                    <a href="#">Следующая</a>
                </li>
            </ul>
        </div>
    </div>
</div>