<div class="container notFound-scope">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 pt40 wrapper mb60">
            <div class="h1">Ошибка 404</div>
            <hr>
            <p class="explanation">

            <p class="text-notification bold">Запрашиваемая вами страница не существует, либо никогда и не существовала</p>

            <p class="standard-text-font">Либо просто что-то пошло не так, и над нужной вам страницей прямо сейчас работают
                лучшие специалисты, которые, возможно, сами её и сломали.</p>
            </p>
            <hr class="small">
            <div class="goto">
                <a href="/#companies">Вернуться в каталог</a>
                <a href="/#company/my">Страница компании</a>
                <a href="/#calendar/my">Мой календарь</a>
            </div>
        </div>
    </div><!-- /.row -->
</div>
<!-- /.form container -->
<div class="container feedbackForm-scope">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 wrapper">
            <div class="h2">Форма обратной связи</div>
            <div class="h3">Компания-отправитель ООО &laquo;Спец-строй&raquo;</div>
            <div class="textarea">
                <label for="message">Сообщение</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <a href="/" class="btn">Отправить сообщение</a>
        </div>
    </div>
</div>