<div class="notification-wrapper">
     <div class="container">
        <div class="notification">
            <div class="text container"><h3 class="h3"><%=notification%></h3>
                <p class="text-notification"><%=notification%></p>
            </div><!-- /.text -->
        </div><!-- /.notification -->
    </div><!-- /.container -->
</div><!-- /.notification-wrapper -->