<div class="block_reg_not_link">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="res-card-container p0 block_res_registration_link_not_active mg-b30">
                <div class="p-lr60 p-b40">
                    <div class="row">
                        <div class="col-md-12 header_res_registration">Регистрация</div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 res_block_text">
                                Мы отправили на ваш почтовый ящик ссылку подтверждения. Пожалуйста, перейдите по ней для того, чтобы продолжить регистрацию в RES.
                            </div>
                            <div class="col-md-12 res_block_text">
                                Если у вас возникнут какие-либо сложности, пожалуйста, свяжитесь с вашим персональным менеджером в RES, позвонив по номеру 8 (495) 317-16-16.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="res-card-container p0 block_res_registration_link_not_active mg-b30">
                <div class="p-lr60">
                    <div class="col-md-12 block_text_facebook">
                        <div class="row">
                            <div class="col-md-12 res_block_text">
                                Читайте нашу официальную страничку в Facebook.
                            </div>
                            <div class="col-md-12 res_block_text">
                                Будьте в курсе всех новостей и получайте оперативную поддержку от создателей платформы.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block_btn">
                    <a href="https://www.facebook.com/ResystemBook" target="_blank">
                        <span>Перейти в группу</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>