<div class="block_reg_not_link">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="res-card-container p0 block_res_registration_link_not_active mg-b30">
                <div class="p-lr60">
                    <div class="row">
                        <div class="col-md-12 header_res_registration">Регистрация</div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 res_block_text">
                                К сожалению, ссылка в вашем письме устарела. Вы можете отправить ее повторно, нажав на кнопку ниже.
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <button type="button" class="btn res-button-yellow res-button-big res-button-full">Отправить еще раз</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="res-card-container p0 block_res_registration_link_not_active mg-b30">
                <div class="p-lr60">
                    <div class="col-md-12 block_text_facebook">
                        <div class="row">
                            <div class="col-md-12 res_block_text">
                                Читайте нашу официальную страничку в Facebook.
                            </div>
                            <div class="col-md-12 res_block_text">
                                Будьте в курсе всех новостей и получайте оперативную поддержку от создателей платформы.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block_btn">
                    <a href="">
                        <span>Перейти в группу</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>