<div class="container forgotPassSuccess-scope">
<div class="row">
    <div class="form col-sm-8 center-block">
        <div class="wrapper">
            <p class="text-center title">Вам позвонят</p>
            <p class="text-center res-text-dark-grey help">Ждите</p>
            <a id='mail' target='_blank' href="#"></a>

            <p class="info">У есть фейсбук</p>
        </div><!-- /.col-sm-12 --> 
    </div>
    <!-- /.form -->
</div><!-- /.row -->

<!-- /.form container -->