<div class="block_reg">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="res-card-container p0 block_res_registration mg-b30">
                <div class="p-lr60">
                    <div class="row">
                        <div class="col-md-12 header_res_registration">Регистрация</div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 res_reg_input">
                        <div class="row">
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label">Имя</label>
                                <input type="text" name="first_name" maxlength="80" class="form-control">

                                <div class="description"><span>Пожалуйста, укажите ваше имя</span><span></span></div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label">Адрес электронной почты</label>
                                <input type="text" name="email" maxlength="80" class="form-control">

                                <div class="description">
                                    <span>Пожалуйста, укажите вашу электронную почту</span><span></span></div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label">Номер телефона</label>
                                <input type="text" data-mask="phone" maxlength="16" name="phone_mask"
                                       class="form-control">
                                <input type="hidden" maxlength="16" name="phone" class="form-control">
                                <div class="description">
                                    <span>Пожалуйста, укажите ваш номер телефона</span><span></span></div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label">Пароль</label>
                                <input type="text" name="password" maxlength="80" class="form-control">

                                <div class="description"><span>Пожалуйста, придумайте пароль</span><span></span></div>
                            </div>
                            <div class="col-md-12 form-group res-fields">
                                <label class="control-label">Подтверждение пароля</label>
                                <input type="text" name="password_confirm" maxlength="80" class="form-control">

                                <div class="description"><span>Пожалуйста, подтвердите пароль</span><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 button_res_registration">
                        <button class="btn btn_registration">ВСЁ ВЕРНО</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 separator_mini"></div>
                </div>
            </div>
            <div class="res_block_text_ell">
                <div class="res_text_el">На первом шаге регистрации мы собираем те данные, которые необходимы для
                    получения доступа к платформе.
                </div>
                <div class="res_text_el">Более подробную информацию о вас и вашей компании вы сможете заполнить позже
                    самостоятельно или при помощи вашего персонального менеджера в системе RES.
                </div>
                <div class="res_text_el">Добро пожаловать!</div>
            </div>
        </div>
    </div>
</div>