<div class="container notFound-scope">
    <div class="col-md-10 center-block pt40 wrapper mb60">
        <div class="h1">Ошибка 500</div>
        <hr>
        <p class="explanation">

        <p class="text-notification bold">Приносим свои извинения, на сервере произошла ошибка.</p>

        <p class="standard-text-font">Разработчик, отвечавший за эту страницу, только что был уволен.</p>
        </p>
        <hr class="small">
        <div class="goto">
            <a href="/#companies">Вернуться в каталог</a>
            <a href="/#company/my">Страница компании</a>
            <a href="/#calendar/my">Мой календарь</a>
        </div>
    </div><!-- /.row -->
</div>
<!-- /.form container -->
<div class="container feedbackForm-scope">
    <div class="col-md-10 center-block wrapper">
        <div class="h2">Форма обратной связи</div>
        <div class="h3">Компания-отправитель ООО &laquo;Спец-строй&raquo;</div>
        <div class="textarea">
            <label for="message">Сообщение</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <a href="/" class="btn">Отправить сообщение</a>
    </div>
</div>