<div class="container">
    <div class="settings-scope center-block">
        <ul class="menuline">
            <li><span><a class="res-link-dash" href="#settings">Персональные данные</a></span></li>
            <li><span><a class="res-link-dash" href="#settings/plan">Тариф</a></span></li>
            <li><span><a class="res-link-dash" href="#settings/notifications">Уведомления</a></span></li>
            <li><span><a class="res-link-dash" href="#settings/security">Безопасность</a></span></li>
        </ul>
        <div id="headerSetting"></div>
        <!-- /#changePassword -->
        <div id="settingsInsert">
            <div class="block_tariff">
                <div class="row field_all_tariff"></div>
            </div>
        </div>
        <!-- /#settingsInsert -->
        <div id="changePassword"></div>
        <!-- /#changePassword -->
        <div id="changeNumberMobile"></div>
        <!-- /#changeNumberMobile -->
        <div id="lockingCompany"></div>
        <!-- /#lockingCompany -->
    </div>
    <!-- /.company-scope -->
</div><!-- /.container -->