<div class="block_tariff">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="res_tariff_header">Регистрация</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 separator_gray_light_mini"></div>
                </div>
                <div class="col-md-12">
                    <ul class="res-switch-yellow">
                        <li class="res_open"><a href="#registration/lawinfo"><span>Юридические данные</span></a></li>
                        <li class="res_open"><a href="#registration/companyinfo"><span>Информация о компании</span></a></li>
                        <li class="res_open"><a href="#registration/representative"><span>Информация о представителе</span></a></li>
                        <li class="res-switch-yellow-active"><a href="#registration/tariff"><span>Тариф</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row field_all_tariff"></div>
        </div>
    </div>
</div>