<div class="container">
	<div class="white-background res-card-container">
			<div class="tenderMy-scope">
				<div class="header">
					<div class="title">Мои тендеры</div><!-- /.title -->
					<ul class="list-inline res-switch-blue tabs">
		                <li><a href="">Неделя</a></li>
		                <li class="res-switch-blue-active"><a href="">Месяц</a></li>
		                <li><a href="">3 месяца</a></li>
		                <li><a href="">Год</a></li>
		                <li><a href="">Выбрать дату</a></li>
		            </ul>
				</div><!-- /.header -->
				<button type="button" class="btn createTender res-button-yellow res-button-big col-sm-4">
	                Создать тендер
	            </button>
				<div class="table">
					<div class="title">
						<div class="name">Название тендера</div><!-- /.name -->
						<div class="maxPrice">Максимальная стоимость</div><!-- /.name -->
						<div class="status">Стаутс</div><!-- /.name -->
						<div class="dateCreate">Дата создания</div><!-- /.name -->
					</div><!-- /.title -->

					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice">250 000 000,00 RES</div><!-- /.name -->
						<div class="status">Закрыт</div><!-- /.name -->
						<div class="dateCreate">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice win">250 000 000,00 RES</div><!-- /.name -->
						<div class="status win">Закрыт</div><!-- /.name -->
						<div class="dateCreate win">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice closeTender">250 000 000,00 RES</div><!-- /.name -->
						<div class="status closeTender">Закрыт</div><!-- /.name -->
						<div class="dateCreate closeTender">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice win">250 000 000,00 RES</div><!-- /.name -->
						<div class="status win">Закрыт</div><!-- /.name -->
						<div class="dateCreate win">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice">250 000 000,00 RES</div><!-- /.name -->
						<div class="status">Закрыт</div><!-- /.name -->
						<div class="dateCreate">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
					<div class="table-row">
						<a href="#" class="name">Продажа автомобилей мицубиси</a><!-- /.name -->
						<div class="maxPrice closeTender">250 000 000,00 RES</div><!-- /.name -->
						<div class="status closeTender">Закрыт</div><!-- /.name -->
						<div class="dateCreate closeTender">11.11.11 11:11</div><!-- /.name -->
					</div><!-- /.table-row -->
				</div><!-- /.table -->

			</div><!-- /.tenderSendRequests-scope -->

			<!-- empty tender  -->
	</div><!-- /.table-container -->


	<div class="white-background res-card-container">
		<div class="tenderMy-scope">
			<div class="header">
				<div class="title">Мои тендеры</div><!-- /.title -->
			</div><!-- /.header -->
			
			<div class="empty-text">
				У вас пока не создано ни одного тендера.
				Можете создать свой первый тендер прямо сейчас!
			</div><!-- /.table -->

			<div class="footer-empty">
				<a href="#tender/create" type="button" class="btn createTenderEmpty res-button-yellow res-button-big col-sm-4">Создать тендер</a>
				<div class="background"></div><!-- /.background -->
			</div><!-- /.footer-empty -->

		</div><!-- /.tenderSendRequests-scope -->

		

	</div><!-- /.form container -->


</div><!-- /.container -->