<div class="white-background res-card-container mb30">
	<div class="row">
		<div class="tenderRequestApply-scope">
			<div class="title">Подать заявку на участие в тендере</div><!-- /.title -->

			<div class="listBlock form-group res-fields">
				<label class="control-label" for="name">Предлагаемая стоимость</label>
				<div class="fieldSet">
					<input type="text" class="form-control micro" id="name">
					<div class="icon res-category_24_children"></div><!-- /.icon -->
					<div class="description">
						Вы можете предложить создателю тендера свою стоимость выполнения задания, чтобы увеличить свои шансы на победу
					</div><!-- /.fieldSet -->
				</div><!-- /.fieldSet -->
			</div><!-- /.listBlock -->

			<div class="listBlock form-group res-fields">
					<label class="control-label" for="name">Укажите дату и время выполнения задания</label>
					<div class="fieldSet">
					<input type="text" class="datepicker form-control small" id="name">
					<div class="icon res-system_16_calendar"></div><!-- /.icon -->

					<div class="dropdown-component">
						<a class="dropdown down">00:00</a>
						<div class="submenu">
							<ul class="root">
								<li>00:00</li>
								<li>00:01</li>
								<li>00:02</li>
								<li>00:03</li>
							</ul>
						</div>
					</div>
					<div class="icon res-system_32_clock"></div><!-- /.icon -->
				</div><!-- /.fieldSet -->
				<div class="description">
						Вы можете указать свою дату завершения тендерного задания
				</div><!-- /.fieldSet -->
			</div><!-- /.listBlock -->

			<div class="listBlock form-group res-fields">
				<label class="control-label" for="name">Комментарий</label>
				<input type="text" class="form-control" id="name">
				<div class="description">
						Вы можете добавить к заявке сообщение создателю тендера. Это так же может повысить выши шансы на победу
				</div><!-- /.fieldSet -->
			</div><!-- /.listBlock -->

			<div class="listBlock form-group res-fields">
				<label class="control-label" for="name">Добавить иллюстрацию</label>
				<div class="upload">
					<div class="img res-system_16_photo"></div><!-- /.img -->
					<div class="right-field">
						<span class="res-system_32_upload res-text-blue"></span>
						<span class="chooseFile">Выберите файл</span>
						<span class="fileType">png, jpeg, jpg не более 10 мегабайт</span>
					</div><!-- /.right-field -->
				</div><!-- /.slider -->
				<div class="description">
						Вы можете сопроводить свою заявку иллюстрациями
				</div><!-- /.fieldSet -->
			</div>	

			<a href="#" class="btn apply res-button-yellow res-button-big">Подать заявку</a>
		</div><!-- /.tenderRequestApply-scope -->
	</div><!-- /.row -->
</div><!-- /.form container -->



