<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        @import url('http://localhost:8000/static/css/fonts.css');
    </style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="720">
    <tr>
        <td bgcolor="#050505" height="90">
            <div>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="30"></td>
                        <td width="690">
                            <img style="height: 30px; vertical-align: middle" src="img/header_email.png"/>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td bgcolor="#fff">
            <div>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="30"></td>
                        <td width="660" height="150" style="vertical-align: middle; border-bottom: 1px solid #808080;">
                            <img style="height: 30px;" src="img/body_header.png"/>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div>
                                <table
                                        style='font-family: HelveticaRoman, Helvetica, Arial, sans-serif;
                                        font-size: 14px;
                                        color: #808080;'>
                                    <tr>
                                        <td width="20"></td>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td width="20"></td>
                                        <td height="30">Здравствуйте, Тестовый Артем!</td>
                                    </tr>
                                    <tr>
                                        <td width="20"></td>
                                        <td height="60">
                                            Для подтверждения вашего почтового адреса и продолжения регистрации в
                                            системе RES, нажмите на кнопку «Подтвердить адрес».</td>
                                    </tr>
                                    <tr>
                                        <td width="20"></td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td width="20">
                                        </td>
                                        <td height="120">
                                            <a href="/" >
                                            <table style="
                                                    font-family: HelveticaMedium, Helvetica, Arial, sans-serif;
                                                    font-size: 16px;
                                                    font-weight: 500;
                                                    text-align: center;
                                                    color: #1c1c1c">
                                                <tr>
                                                    <td  width="220" style="border-radius: 7px;"
                                                        bgcolor="#ffc119" height="60">
                                                        Подтвердить адрес
                                                    </td>
                                                </tr>
                                            </table>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td width="20">
                                        </td>
                                        <td height="60">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td height="30">Если вы получили это письмо по ошибке,
                                                            просто
                                                            проигнорируйте его.</td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30">
                                                            <a style="
                                                            font-family: HelveticaMedium, Helvetica, Arial, sans-serif;
                                                            border-bottom: 1px dashed #808080;
                                                            text-decoration: none;
                                                            color: #808080;
                                                            font-weight: 600" href="link">
                                                                Отписаться от рассылки
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td height="30">
                                            <div style="width: 30px; border-bottom: 1px solid #808080;"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20">
                                        </td>
                                        <td height="120">
                                            <div style="height: 60px">
                                                <table  style='font-family: HelveticaRoman, Helvetica, Arial, sans-serif;
                                        font-size: 16px;
                                        font-weight: normal;
                                        color: #1c1c1c;'>
                                                    <tr>
                                                        <td style="line-height: 30px;">Хорошего вам дня!</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 30px;">С уважением, компания RES.</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20"></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td bgcolor="#050505">
            <div>
                <table border="0" cellpadding="0" cellspacing="0" width="720">
                    <tr height="30"></tr>
                    <tr>
                        <td width="30"></td>
                        <td>
                            <img style="height: 30px; vertical-align: middle" alt="" src="img/footer_name.png"/>
                        </td>
                    </tr>
                    <tr height="20"></tr>
                    <tr height="30">
                        <td></td>
                        <td>
                            <div>
                                <table border="0" cellpadding="0" cellspacing="0" width="690"
                                       style='font-family: Roboto, Helvetica, Arial, sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        color: #adadad;'>
                                    <tr>
                                        <td width="390">
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <img style="padding-top: 4px" src="img/footer_phone.png"/>
                                                        </td>
                                                        <td style="text-indent: 7px;">8 (495) 317-16-16</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td><img style="padding-top: 4px" src="img/footer_mail.png"/></td>
                                                        <td style="text-indent: 7px;">support@resystem.org</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <table>
                                                    <tr>
                                                        <td><img style="padding-top: 4px" src="img/footer_point.png"/>
                                                        </td>
                                                        <td style="text-indent: 7px;">123317, г. Москва, Пресненская
                                                            наб., д. 8, с 1.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="http://www.facebook.su">
                                            <table>
                                                <tr>
                                                    <td><img style="padding-top: 4px" src="img/footer_facebook.png"/></td>
                                                    <td style="text-indent: 7px; color: #fff" >Facebook</td>
                                                </tr>
                                            </table>
                                        </a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr height="50"></tr>
                </table>
            </div>
        </td>
</table>
</body>
</html>